@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
    display: flex;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.header {
    display: flex;
    flex-direction: column;
    height:auto;
    width: 60%;
    background-image: url("images/michael-dziedzic-yB1LmohCtEU-unsplash\ \(1\).jpg");
    background-size: 50rem ;
    background-position: 0%;
    background-repeat: no-repeat;
    align-items:flex-start;
    justify-content: space-between;
}

.logo {
    margin-top: 10rem;
    background-color: gray;
    background: rgba(19, 18, 18, 0.5);
    height: auto;
    width:100%;
}
.logo-text {
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    height: fit-content;
    font-size: 3.5rem;
}
.footer {
    color: white;
    text-align: center;
    width: 100%;
    font-size: 12px;
}
.body {
    display: flex;
    background-color: #12171b;;
    height: 100vh;
    width: 100vw;
    justify-content: space-evenly;
    flex-direction: column;
}

.text-flow{
    width: 70%;
    color:white;
}


.form-container {
    height: 29vh;
    background-color: #0f1214;
    width: 100%;
    color: white;
    box-shadow: 4px 3px 5px rgb(255 255 255 / 30%);
}


.form {
    display: flex;
    padding-left: 3vh;
    width: 90%;
}
.left {
    padding-left: 3vh;
}
input {
   display: flex;
   width: 20rem;
   margin: 6px;
   margin-left: 0%;
   border-radius: 2px;
   border: 1px solid;
}

input:invalid {
    border-color: red;
}

input:valid {
    border-color: #1e280f;
}
label {
    text-transform: uppercase;
    font-size: 14px;
}
.input {
    margin:11px;
    margin-left: 0%;
}
.leftForm {
    margin-right: 20%;
}

.login{
    height: 20vh;
    color: white;
}
button {
    width:12rem;
    height: 3rem;
    font-size: 16px;
    border: 1px solid #1e280f;
    border-radius: 4px;
    background: #1e280f;
    color: white;
}

a {
    color: white;
}

#login {
    color: #b9cf8e;
    font-weight: bolder;
    text-decoration: none;
}

button:hover {
    background-color: #b9cf8e;
    color:#12171b;
    cursor: pointer;
}

#logo {
    width: 70px;   
    height: 70px;
    margin-right: 10px;
}

#error {
    margin-top: 0%;
    color: red;
    font-size: 13px;
}